/* splash styling */
.splash{
  padding: 40px;
  height: 800px;
  background-color: #bada55;
}

.ghru-title{
    color: #767777;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    height: 700px;
    padding: 40px;
  }

.illustration{
  background-image: url(assets/shapes.png);
  background-repeat: no-repeat;
  background-position: right 30px top 88px;
  background-size: 55%;
}

.docs-layout.is-small-screen .about-panel {
    padding: 40px;
}

.android-wear-band {
    width: 100%;
    background-color: #37474f;
    height: 800px;
}


.partner-map {
    padding: 40px;
    height: 800px;
    background-color: #191E80;
    background-image: url(assets/bluemap.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.service-pipe {
    padding: 40px;
    height: 1000px;
    background-color: #f5f5f5;
    background-image: url(assets/pipe.png);
    background-size: 36%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.wgsa-how-it-works ol {
    display: grid;
    grid-template-columns: repeat(3);
    list-style: none;
    margin: 0;
}
ol {
    padding-left: 16px;
    padding-right: 16px;
}


.service-item {
    display: inline-block;
    width: 36%;
    margin-right: 64px;
    text-align: center;
}
.service-item p{
  padding: 10%;
}

/* partner cards */

.mdl-card--horizontal-2 {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 0px;
}
  .mdl-card__title {
    align-items: flex-start;
    flex-direction: column;
    flex: 1 auto;
    float: left;
  }
  .mdl-card__title-text {
    align-self: flex-start;
  }
  .mdl-card__media {
    flex: 0 auto;
    float: right;
    height: 112px;
    margin: 16px 16px 0 0;
    width: 112px;
  }

  .mdl-card__media img{
    height: 112px;
    margin: 16px 16px 0 0;
    width: 112px;
  }

  .mdl-card__actions {
    clear: both;
    flex: 1 auto;
  }

  /* join us */
  .join-us {
      width: 100%;
      background-color: #37474f;
      height: 800px;
  }


/* footer */
/* .partner-icon{
  display: inline-block;
  text-align: center;
  padding: 2%;
} */
