/*--Variables--*/

:root {
  --primary-color: #06c;
  --second-color: #8bced0;
  --bg-color: #fff;
  --title-weight: 600;
  --head-weight: 400;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 75px;
  font-weight: 800;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 100;
  margin:0 0 12% 0;
}

h3 {
  margin: 6%;
}

a {
  color: var(--primary-color);
}

.mdl-typography--body-2{
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}

/* p{
  margin-top: -1.5em;
  margin-bottom: -1.5em;
} */

/*--Header and Nav--*/
.mdl-layout__header {
  background-color: var(--bg-color);
  color: var(--primary-color);
  box-shadow: 0 0;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: var(--primary-color);
}

.mdl-layout__drawer-button {
  background-color: var(--bg-color);
}

.material-icons {
  color: var(--primary-color);
}

.mdl-layout__drawer {
  color: var(--primary-color);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: var(--primary-color);
}

/* splash styling */
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.splash {
  padding: 40px;
  height: 800px;
  background-color: var(--bg-color);
}

.ghru-title {
  color: #767777;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  height: 700px;
  padding: 40px;
}

.splash {
  background-image: url(assets/brand-shape.png);
  background-repeat: no-repeat;
  background-position: right 30px top 88px;
  background-size: 55%;
}

/* .docs-layout.is-small-screen .about-panel {
  padding: 40px;
} */

.info {
  width: auto;
  background-color: var(--second-color);
  height: 600px;
}

.partner-map {
  padding: 40px;
  height: 800px;
  background-color: #b0c2e3;
  background-image: url(assets/map-marks.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

/* .services-parent{
  margin: 60%;
} */

.service-pipe {
  padding: 40px;
  height: 600px;
  background-color: #d374d9;
  background-image: url(assets/pipe.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

/* .service-pipe-mobile {
  padding: 40px;
  height: 1000px;
  background-color: #f5f5f5;
  background-image: url(assets/pipe.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
} */

ol {
  padding-left: 16px;
  padding-right: 16px;
}

.service-item {
  display: inline-block;
  width: 36%;
  margin-right: 64px;
  text-align: center;
}

.service-icon{
  padding: 4% 0 5% 0;
}

.service-icon-flag{
  padding: 4% 0 1% 0;
}

.service-item p {
  padding: 0 0 0 20%;
}

.pathogen-surveys{
  margin: auto 0 6% 0;
}

/* partner cards */

.mdl-card--horizontal-2 {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 0px;
}

.mdl-card__title {
  align-items: flex-start;
  flex-direction: column;
  flex: 1 auto;
  float: left;
}

.mdl-card__title-text {
  align-self: flex-start;
}

.mdl-card__media {
  flex: 0 auto;
  float: right;
  height: 112px;
  margin: 16px 16px 0 0;
  width: 112px;
}

.mdl-card__media img {
  height: 112px;
  margin: 16px 16px 0 0;
  width: 112px;
}

.mdl-card__actions {
  clear: both;
  flex: 1 auto;
}

.contact-panel {
  padding: 6em 4em;
  display: flex;
  background-color: var(--second-color);
  flex-direction: column;
  margin: auto;
}

.address-panel .material-icons {
  position: relative;
  top: 0.2em;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5em;
  border-radius: 50%;
}

.mdl-textfield {
  display: block;
  width: 100%;
  padding: 20px 0;
}

@media screen and (min-width: 800px) {
  .subscribe-button {
    float: right;
  }
}

/* footer */

.mdl-mega-footer{
  background-color: #c6c2be;
}

/* .partner-icon{
  display: inline-block;
  text-align: center;
  padding: 2%;
} */
.RITM-icon{
  width:50%;}
.corp-icon{
  width: 69%;}
.ibad-icon{
  width: 110%;}
.kims-icon{
 width:35%;
}
.whonet-icon{
  width: 60%;}
.wgc-icon{
  width: 75%;}


/*--Responsive--*/
.service-item.mdl-cell--4-col-phone p{
  padding: 0;
}

.splash.mdl-cell--4-col-phone {
  background-image: url(assets/brand-shape.png);
  background-repeat: no-repeat;
  background-position: right 50% top 97%;
  background-size: 55%;
  background-color: var(--bg-color);
}
.info.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-phone {
  /* height: 50%; */
  padding: 40px;
}

.service-panel.service-pipe.mdl-cell--4-col-phone {
  background-size: 78%;
  background-position: bottom;
  margin: 0;
  color: #254784 !important;
}

.partner-panel.partner-map.mdl-cell--4-col-phone {
  padding: 40px;
  height: 200px;
  background-color: #b0c2e3;
  /* background-image: url(assets/map-marks.png); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
