/* splash styling */
.splash{
  padding: 40px;
  height: 800px;
  background-color: #bada55;
}

.ghru-title{
    color: #767777;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    height: 700px;
    padding: 40px;
  }

.illustration{
  background-image: url(assets/shapes.png);
  background-repeat: no-repeat;
  background-position: right 30px top 88px;
  background-size: 55%;
}

.docs-layout.is-small-screen .about-panel {
    padding: 40px;
}

.android-wear-band {
    width: 100%;
    text-align: center;
    background-color: #37474f;
    height: 800px;
}


.partner-map {
    padding: 40px;
    height: 800px;
    background-color: #191E80;
    background-image: url(assets/bluemap.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.service-pipe {
    padding: 40px;
    height: 1000px;
    background-color: #f5f5f5;
    background-image: url(assets/pipe.png);
    background-size: 36%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.wgsa-how-it-works ol {
    display: grid;
    grid-template-columns: repeat(3);
    list-style: none;
    margin: 0;
}
ol {
    padding-left: 16px;
    padding-right: 16px;
}
